<!DOCTYPE html>
<html>
<head>
    <title>rover</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/vendor/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css' />
    <script src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bower_components/jquery-ui/jquery-ui.min.js"></script>
</head>
<style>

    .slider {
        width:230px;
        height:11px;
        background:url(/img/slider-bg.png);
        position:relative;
        margin:0 auto;
        padding:0 10px;
    }

       .ui-slider-handle {
           width:24px;
           height:24px;
           position:absolute;
           top:-7px;
           margin-left:-12px;
           z-index:200;
           background:url(/img/slider-button.png);
       }

       .ui-widget-header {
           background:url(/img/fill.png) no-repeat left;
           height:8px;
           left:1px;
           top:1px;
           position:absolute;
       }
</style>
<body>

<%-body -%>
</body>
</html>